html{
    background-color: black;
}

body {
    margin : 0;
    height: 100vh;
    width: 100vw;
}

#wrapper {
    position: fixed;
    /* margin-top: -100px;
    margin-left: -100px; */
    float: left;
    background-color: black;
    width: 100vh;
    height: 100vw;
    float: left;
    transform: rotate(-90deg) translateX(-200px) translateY(-250px);

    /* transform-origin: bottom left; */
    /* padding-top: 400px;
    padding-left: 800px; */
    font-size: 140px;
    top: 0;
    left: 0;
}

#me {
    color: #ffffff;
}

#brand {
    color: #ff977b;
    font-size: 200px;
}

#connect {
    color: #ffffff;
}

#person {
    color: #ffffff;
}

#english {
    color: #ffffff;
}

#english-brand {
    color: #ff977b;
}