body, html {
  height: 100%;
  width: 100%;
}

body {
  background-color:black;
}

#container {
  background-color: #333;
  height:700px;
  width:1500px;
  overflow:hidden; 
  position:relative;
}

.box {
  overflow:hidden;
  background-image: url(http://www.kaist.ac.kr/camtour/kr/images/kaist/drag_map_bg.jpg);
  background-size: 100%;
  background-position: center;
  width: 2128px;
  height: 1306px;
  position: relative;
/*  left: -300px;
  top: -100px; */
}

.pin {
   position: absolute;
   top: 10px;
   left: 10px;
}

#current_loc_button {
   position: absolute;
   top: 10px;
   left: 10px;
}

#table_wrapper{
  position: relative;
}